/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Container */
.container {
  max-width: 900px;
  margin: auto;
 
}
/* Header */
header {
  background: linear-gradient(135deg, #0d2146, #2d2a52);
  color: white;
  text-align: center;
  padding: 20px 10px;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 1px;
}

#hima ul {
  padding-left: 20px;
}

#hima li {
  margin-bottom: 8px;
}

#contact h2 {
  font-weight: bold;
  color: #0d6efd;
}

#contact h5 {
  font-weight: 600;
  color: #343a40;
}

#contact p, #contact a {
  color: #555;
  font-size: 16px;
}

#contact a:hover {
  color: #0d6efd;
  text-decoration: none;
}

#contact form input,
#contact form textarea {
  border-radius: 8px;
}

#contact button {
  border-radius: 8px;
  padding: 10px 20px;
}

@media (max-width: 767px) {
  #contact {
    padding: 3rem 1rem;
  }
}



